* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

body, input, button, textarea {
  font: 16px Poppins, sans-serif;
}

html, body, #root {
  margin: 0 auto;
  height: 100%;
  background-color: white;
  /* background-color: #eeeeef; */
}